<!-- views/data.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Data Display</title>
</head>
<body>
  <h1>Data from the Database</h1>
  <ul>
    <% data.forEach(item => { %>
      <li><%= item.columnName %></li>
    <% }); %>
  </ul>
</body>
</html>
